
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');

:root {
    --main-font: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
    --secondary-font: 'Space Grotesk', 'Segoe UI', 'Geneva', 'Verdana', 'sans-serif';
    --text-color: rgb(241, 219, 219);
}

nav {
    text-align: left!important;
    background-color: rgb(30, 30, 40);
    overflow: hidden;
}

nav a {
    float: left;
    text-align: center;
    margin: 1.2%;
    color: var(--text-color);
    font-family: var(--secondary-font);
    font-size: 120%;
    text-decoration: none;
}

nav a:hover {
    color: rgb(202, 202, 235);
    text-decoration: underline;
}

body {
    text-align: center;
    background-image: 
        url("../assets/wavesOpacity.svg"),
        linear-gradient(
            90deg, 
            rgb(70, 70, 80) 30%,
            rgb(28, 28, 38) 100%
        );
    background-position: center bottom, left top;
    margin: 0px;
    margin-top: 0px;
}

a img {
    -webkit-transition: -webkit-transform 0.2s;
	transition: -webkit-transform 0.2s;
	transition: transform 0.2s;
	transition: transform 0.2s, -webkit-transform 0.2s;
}

.paragraph-1 {
    float: left;
    color: var(--text-color);
    font-family: var(--secondary-font);
    font-size: 150%;
    text-align: left;
    margin-left: 45%;
    margin-right: 5%;
    width: 50%;
    line-height: 140%;
}

.paragraph-center {
    float: left;
    color: var(--text-color);
    font-family: var(--secondary-font);
    font-size: 150%;
    text-align: left;
    width: 50%;
    line-height: 140%;
    margin-left: 30%;
}

.credits-items {
    padding-left: 3%;
}

.credits {
    font-size: 110%;
    color: rgb(241, 241, 198)
}

.small-emoji {
    width: 1.7%;
}

#bar {
    width: 50%;
    border-width: 10px;
    border-radius: 10px;
    border-color: black;
    color: black;
    background-color: black;
}

#icon {
    margin: 2%;
    width: 12%;
    height: 12%;
}

#icon:hover {
    transform: rotate(-45deg)!important;
}

#icon-2 {
    margin: 2%;
    width: 12%;
    height: 12%;
    transform: rotate(15deg);
}

#star {
    width: 3%;
}

#main-button {
    border-width: 0px;
    background-color: transparent;
}

#main-button:hover h1 {
    text-decoration: underline;
    text-underline-offset: 3%;
}

#main-text {
    font-family: var(--main-font);
    font-size: 500%;
    color: var(--text-color);
    text-align: left;
}

#from {
    font-family: var(--main-font);
    font-size: 150%;
    color: rgb(162, 162, 179)
}

#subtitle {
    font-family: var(--main-font);
    font-size: 200%;
    color: rgb(182, 177, 194);
}

#author {
    font-family: var(--main-font);
    font-size: 90%;
    color: rgb(219, 219, 243);
}

#video {
    margin: 5%;
    margin-top: 0px!important;
    justify-content: center;
    border-radius: 4%;
}

#cartoon-turtle {
    height: 200px;
    margin-right: 95%;
}

#cartoon-turtle:hover {
    content: url("../assets/turtle-speech.svg");
    transform: scale(1.15);
}

#turtle-icon {
    width: 15%;
    margin-top: 20%;
    margin-right: 5%;
    -webkit-transition: -webkit-transform 1s;
	transition: -webkit-transform 17s;
	transition: transform 1s;
	transition: transform 1s, -webkit-transform 1s;
}

#turtle-icon:hover {
    transform: translateX(-60%)
}

#link-to-info {
    color: rgb(185, 185, 233); 
    text-decoration: none;
}

#link-to-info:hover {
    text-decoration: underline;
}

#break {
    margin-top: 25%;
    justify-content: center!important;
    color: white;
    border: 1% solid white;
    background-color: white;
    width: 25%;
    border-radius: 10%;
}

#enjoy {
    margin-top: 3%;
    justify-content: center!important;
    color: var(--text-color);
    font-family: var(--secondary-font);
    font-size: 300%;
    text-align: center;
}

#footer-text {
    font-family: 'Geneva', 'Verdana', 'sans-serif';
    font-size: 120%;
    color: rgb(120, 120, 140);
    text-align: center;
}

#footer-text:hover {
    text-decoration: underline;
    text-underline-offset: 3%;
}

#footer-image {
    height: 50px;
}

#footer-image:hover {
    transform: scale(1.3);
}