
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');


:root {
    --main-font: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
    --text-color: rgb(241, 219, 219);
}

nav {
    text-align: left!important;
    background-color: rgb(30, 30, 40);
    overflow: hidden;
}

nav a {
    float: left;
    text-align: center;
    margin: 1.2%;
    color: var(--text-color);
    font-family: 'Nunito Sans', 'Segoe UI', 'Geneva', 'Verdana', 'sans-serif';
    font-size: 120%;
}

nav a:hover {
    text-decoration: underline;
}

body {
    text-align: center;
    background-image: 
    url("../assets/wavesOpacity.svg"),
    linear-gradient(
        90deg, 
        rgb(70, 70, 80) 30%,
        rgb(28, 28, 38) 100%
    );
    background-position: center bottom, left top;
    margin: 0px;
    margin-top: 0px;
}

a img {
    -webkit-transition: -webkit-transform 0.2s;
	transition: -webkit-transform 0.2s;
	transition: transform 0.2s;
	transition: transform 0.2s, -webkit-transform 0.2s;
}

.paragraph-1 {
    float: left;
    color: var(--text-color);
    font-family: 'Nunito Sans', 'Segoe UI', 'Geneva', 'Verdana', 'sans-serif';
    font-size: 150%;
    text-align: left;
    margin-left: 45%;
    margin-right: 5%;
    width: 50%;
    line-height: 140%;
}

#bar {
    width: 50%;
    border-width: 10px;
    border-radius: 10px;
    border-color: black;
}

#icon {
    margin: 2%;
    width: 12%;
    height: 12%;
}

#icon:hover {
    transform: rotate(-45deg)!important;
}

#main-button {
    border-width: 0px;
    background-color: transparent;
}

#main-button:hover h1 {
    text-decoration: underline;
    text-underline-offset: 3%;
}

#main-text {
    font-family: var(--main-font);
    font-size: 500%;
    color: var(--text-color);
    text-align: left;
}

#from {
    font-family: var(--main-font);
    font-size: 150%;
    color: rgb(162, 162, 179)
}

#subtitle {
    font-family: var(--main-font);
    font-size: 200%;
    color: rgb(182, 177, 194);
}

#author {
    font-family: var(--main-font);
    font-size: 90%;
    color: rgb(219, 219, 243);
}

#video {
    margin-right: 50%;
    border-radius: 4%;
}

#cartoon-turtle {
    height: 200px;
    margin-right: 95%;
}

#cartoon-turtle:hover {
    content: url("../assets/turtle-speech.svg");
}

#footer-text {
    font-family: 'Geneva', 'Verdana', 'sans-serif';
    font-size: 120%;
    color: rgb(120, 120, 140);
    text-align: center;
}

#footer-text:hover {
    text-decoration: underline;
    text-underline-offset: 3%;
}

#footer-image {
    height: 50px;
}

#footer-image:hover {
    transform: scale(1.3);
}