
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


:root {
    --main-font: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
    --text-color: rgb(241, 219, 219);
}

body {
    text-align: center;
    background-image: linear-gradient(
        90deg, 
        rgb(28, 28, 38) 30%, 
        rgb(72, 72, 82) 100%
    );
}

footer {
    margin-top: 15%;
}

.paragraph-1 {
    color: var(--text-color);
    font-family: 'Montserrat', 'Segoe UI', 'Geneva', 'Verdana', 'sans-serif';
    font-size: 25px;
    text-align: left;
    margin-left: 45%;
    margin-right: 5%;
    width: 50%;
    line-height: 140%;
}

#bar {
    width: 50%;
    border-width: 10px;
    border-radius: 10px;
    border-color: black;
}

#icon {
    margin: 2%;
    width: 10%;
    height: 10%;
    transform: rotate(45deg);
}

#main-button {
    border-width: 0px;
    background-color: transparent;
}

#main-button:hover h1 {
    text-decoration: underline;
    text-underline-offset: 3%;
}

#main-text {
    font-family: var(--main-font);
    font-size: 80px;
    color: var(--text-color);
    text-align: left;
}

#subtitle {
    font-family: var(--main-font);
    font-size: 30px;
    color: rgb(182, 177, 194);
}

#footer-text {
    font-family: 'Geneva', 'Verdana', 'sans-serif';
    font-size: 20px;
    color: rgb(120, 120, 140);
    text-align: center;
}

#footer-image {
    width: 3%;
    height: 3%;
}